[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Mirror of Apache FtpServer
[access "refs/*"]
	owner = group user/Sascha Vogt (svogt)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Sascha Vogt (svogt)
	label-Verified = -1..+1 group user/Sascha Vogt (svogt)
	push = group user/Sascha Vogt (svogt)
	read = group user/Sascha Vogt (svogt)
	rebase = group user/Sascha Vogt (svogt)
	removeReviewer = group user/Sascha Vogt (svogt)
	submit = group user/Sascha Vogt (svogt)
[access "refs/heads/*"]
	create = group user/Sascha Vogt (svogt)
	push = +force group user/Sascha Vogt (svogt)
	pushMerge = group user/Sascha Vogt (svogt)
	read = group user/Sascha Vogt (svogt)
[access "refs/tags/*"]
	push = group user/Sascha Vogt (svogt)
	push = +force group user/Sascha Vogt (svogt)
